{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load formset_tags %}

{% block title %} {% trans "Ticket transfer Settings" %} {% endblock %}
{% block inside %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Ticket transfer Settings" %}</legend>
            {% bootstrap_form form layout="horizontal" exclude="pretix_ticket_transfer_pending_payment_subject,pretix_ticket_transfer_pending_payment_mailtext,pretix_ticket_transfer_initiated_subject,pretix_ticket_transfer_initiated_mailtext,pretix_ticket_transfer_completed_old_owner_subject,pretix_ticket_transfer_completed_old_owner_mailtext,pretix_ticket_transfer_completed_new_owner_subject,pretix_ticket_transfer_completed_new_owner_mailtext,pretix_ticket_transfer_bank_details_intro,pretix_ticket_transfer_step2_title" %}
        </fieldset>

        <fieldset>
            <legend>{% trans "New Transfer Flow - Email Settings" %}</legend>
            <div class="help-block">
                {% blocktrans trimmed %}
                    Configure email templates for the new transfer flow where the new owner pays for the tickets.
                {% endblocktrans %}
            </div>

            <h4>{% trans "New Owner - Pending Payment" %}</h4>
            {% bootstrap_field form.pretix_ticket_transfer_pending_payment_subject layout="horizontal" %}
            {% bootstrap_field form.pretix_ticket_transfer_pending_payment_mailtext layout="horizontal" %}

            <h4>{% trans "Old Owner - Transfer Initiated" %}</h4>
            {% bootstrap_field form.pretix_ticket_transfer_initiated_subject layout="horizontal" %}
            {% bootstrap_field form.pretix_ticket_transfer_initiated_mailtext layout="horizontal" %}

            <h4>{% trans "Old Owner - Transfer Completed" %}</h4>
            {% bootstrap_field form.pretix_ticket_transfer_completed_old_owner_subject layout="horizontal" %}
            {% bootstrap_field form.pretix_ticket_transfer_completed_old_owner_mailtext layout="horizontal" %}

            <h4>{% trans "New Owner - Transfer Completed" %}</h4>
            {% bootstrap_field form.pretix_ticket_transfer_completed_new_owner_subject layout="horizontal" %}
            {% bootstrap_field form.pretix_ticket_transfer_completed_new_owner_mailtext layout="horizontal" %}
        </fieldset>

        <fieldset>
            <legend>{% trans "Transfer Form - Optional Texts" %}</legend>
            <div class="help-block">
                {% blocktrans trimmed %}
                    Optional texts to customize the transfer form. If not set, default texts will be used.
                {% endblocktrans %}
            </div>
            {% bootstrap_field form.pretix_ticket_transfer_step2_title layout="horizontal" %}
            {% bootstrap_field form.pretix_ticket_transfer_bank_details_intro layout="horizontal" %}
        </fieldset>

        <div class="form-group">
            <label class="col-md-3 control-label">
                {% trans "Additional confirmation text" %}<br>
                <span class="optional">{% trans "Optional" %}</span>
            </label>
            <div class="col-md-9">
                <div class="help-block">
                    {% blocktrans trimmed %}
                        These texts need to be confirmed by the user before a transfer completed. They are show
                        in addition to the confirmation texts for shown in the regular checkout process.
                    {% endblocktrans %}
                </div>
                <div class="formset" data-formset data-formset-prefix="{{ confirm_texts_formset.prefix }}">
                    {{ confirm_texts_formset.management_form }}
                    {% bootstrap_formset_errors confirm_texts_formset %}
                    <div data-formset-body>
                        {% for form in confirm_texts_formset %}
                            <div class="row formset-row" data-formset-form>
                                <div class="sr-only">
                                    {{ form.id }}
                                    {% bootstrap_field form.DELETE form_group_class="" layout="inline" %}
                                    {% bootstrap_field form.ORDER form_group_class="" layout="inline" %}
                                </div>
                                <div class="col-md-10">
                                    {% bootstrap_form_errors form %}
                                    {% bootstrap_field form.text layout='inline' form_group_class="" %}
                                </div>
                                <div class="col-md-2 text-right flip">
                                    <button type="button" class="btn" data-formset-move-up-button>
                                        <i class="fa fa-arrow-up"></i></button>
                                    <button type="button" class="btn" data-formset-move-down-button>
                                        <i class="fa fa-arrow-down"></i></button>
                                    <button type="button" class="btn btn-danger" data-formset-delete-button>
                                        <i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div class="row formset-row" data-formset-form>
                                <div class="sr-only">
                                    {{ confirm_texts_formset.empty_form.id }}
                                    {% bootstrap_field confirm_texts_formset.empty_form.DELETE form_group_class="" layout="inline" %}
                                    {% bootstrap_field confirm_texts_formset.empty_form.ORDER form_group_class="" layout="inline" %}
                                </div>
                                <div class="col-md-10">
                                    {% bootstrap_field confirm_texts_formset.empty_form.text layout='inline' form_group_class="" %}
                                </div>
                                <div class="col-md-2 text-right flip">

                                    <button type="button" class="btn" data-formset-move-up-button>
                                        <i class="fa fa-arrow-up"></i></button>
                                    <button type="button" class="btn" data-formset-move-down-button>
                                        <i class="fa fa-arrow-down"></i></button>
                                    <button type="button" class="btn btn-danger" data-formset-delete-button>
                                        <i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        {% endescapescript %}
                    </script>
                    <p>
                        <button type="button" class="btn btn-default" data-formset-add>
                            <i class="fa fa-plus"></i> {% trans "Add confirmation text" %}</button>
                    </p>
                </div>
            </div>
        </div>



        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}

