{% extends "pretixpresale/event/base.html" %}
{% load i18n %}
{% load eventurl %}
{% load static %}

{% block title %}{% trans "Modify order" %}{% endblock %}
{% block content %}
<h2>
  {% blocktrans trimmed with code=order.code %}
      Ticket Transfer for order: {{ code }}
  {% endblocktrans %}
</h2>

<form class="form-horizontal" action="{% eventurl event "plugins:pretix_ticket_transfer:generate" secret=order.secret order=order.code %}" method="post">
{% csrf_token %}

<details class="panel panel-default details-open cart" open>
  <summary class="panel-heading">
      <h3 class="panel-title">{% trans "Selected Tickets" %}</h3>
  </summary>
  <div class="panel-collapse">
    <div class="panel-body">

      <div role="table" aria-label="Selected Tickets">
        {% for i in pos %}
          <input type="hidden" name="pos[]" value="{{i.id}}" />
          <div role="rowgroup">
            <div role="row" class="row cart-row">
              <div role="cell" class="product">{{i.name}} {{i.variation}}{% if i.attendee_name_cached %} - {{i.attendee_name_cached}}{% endif %}</div>
              <div role="cell" class="count"></div>
              <div role="cell" class="totalprice price">{{i.price}}</div>
            </div>
          </div>
        {% endfor %}

        <div role="rowgroup">
          <div role="row" class="row cart-row total">
            <div role="cell" class="product">Total worth of ticket transfer</div>
            <div role="cell" class="count"></div>
            <div role="cell" class="totalprice price">{{totalprice}}</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</details>

<details class="panel panel-default details-open" open>
   <summary class="panel-heading">
       <h3 class="panel-title">{% trans "Choose recipient" %}</h3>
   </summary>
   <div class="panel-collapse">
     <div class="panel-body">

       <div class="form-group required">
        <label class="col-md-3 control-label" for="tt-email-0">
          <i class="sr-only label-required">, required</i>
          E-mail
        </label>
        <div class="col-md-9">
          <input id="tt-email-0" class="form-control" type="email" name="email" autocomplete="section-contact email" placeholder="E-mail" 
            title="Please enter the email that should recieve the Tickets" required 
            aria-describedby="help-for-tt-email-0" />
          <p class="help-block" id="help-for-tt-email-0">
            Please enter the email that should recieve the Tickets
          </p>
        </div>
       </div>

       <div class="form-group required">
        <label class="col-md-3 control-label" for="tt-email-1">
          <i class="sr-only label-required">, required</i>
          E-mail (repeated)
        </label>
        <div class="col-md-9">
          <input id="tt-email-0" class="form-control" type="email" name="email_repeat" autocomplete="section-contact email" placeholder="E-mail" 
            title="Please enter the same email address again to make sure you typed it correctly." required 
            aria-describedby="help-for-tt-email-1" />
          <p class="help-block" id="help-for-tt-email-1">
            Please enter the same email address again to make sure you typed it correctly.
          </p>
        </div>
       </div>


    <div class="row checkout-button-row">
      <div class="col-md-4">
        <a class="btn btn-block btn-primary" href="{% eventurl event "presale:event.order" secret=order.secret order=order.code %}">
          <i class="fa fa-close" aria-hidden="true"></i> {% trans "cancel" %}</a>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <button type="submit" class="btn btn-block btn-primary">{% trans "Transfer Tickets" %}</button>
      </div>
    </div>
  </div>
</details>

</form>
{% endblock %}

